parameters:
    typeAliases:
        DevPhpExecutable: '''
            array{
                enabled: bool,
                command: string,
                envVars?: array<string, ?string>,
            }
        '''
        DevProcessResult: '''
            array{
                exitCode: int,
                stdOutput: string,
                stdError: string,
            }
        '''
        DevDockerCompose: '''
            array{
                services?: array<string, DevDockerComposeService>,
            }
        '''
        DevDockerComposeService: '''
            array{
                image: string,
            }
        '''
        DevPmkrConfig: '''
            array{
                instances?: array<string, DevPmkrConfigInstance>,
            }
        '''
        DevPmkrConfigInstance: '''
            array{
                coreVersion: string,
            }
        '''
